*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(100deg, #c0b33b, #dbd6a3);
    color: rgb(65, 62, 62);
    font-family: "poppins",  sans-serif;
    min-height: 100vh;
}
header{
    font-size:2rem;
   
}
header, form{
   min-height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
form input, form button{
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color: #c0b33b;
    background: white;
    cursor: pointer;
    transition:all 0.3s ease;
}
form button:hover{
    background: #c0b33b;
    color:white;

}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: .5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.todo li{
    flex: 1;
    font-weight: bold;
}

.complete-btn, .trash-btn{
    background: #df841c;
    color: white;
    border: none;
    padding: .2rem;
    cursor: pointer;
    font-size: 1rem;
    margin: .2rem;
}
.complete-btn{
    background: rgb(130, 230, 64);
}
.todo-item{
  padding: 0.1rem, .5rem;  
  margin: .3rem .3rem;
}
.fa-check-square, .fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: .8;
    transition: all .3s ease;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #000000;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    font-weight: bold;
    padding: 1rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #adaf39;
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */